body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #6200EE;
  padding: 20px;
  color: white;
}

h1 {
  margin: 0;
}

label {
  margin: 10px 0;
  display: block;
  font-size: 16px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn {
  background-color: #6200EE;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #3700B3;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px 0;
}

.summary {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px 0;
}

.alert {
  background-color: #FFCDD2;
  color: #D32F2F;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
}

.rul-history {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px 0;
}
