# Node modules for React
node_modules/
build/

# Python virtual environments
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# FastAPI related
*.log
*.sqlite3
*.db
*.pth
instance/

# Model files (you can specify other model formats if necessary)
model.pth
full_model.pth
my_model.h5

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables and secrets
.env
*.env

# IDE-specific files
.vscode/
.idea/
